
/* Created with http://boockup.marco.land */
@-webkit-keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@-webkit-keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
html, body {
  margin: 0;
  padding: 0;
}
.autrecontainer {
    top:0;
    left:0;
    position:fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.autrecontainer > div {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.boockup {
  -webkit-transform: rotateX(17deg) rotateY(-22deg) rotateZ(23deg);
  transform: rotateX(17deg) rotateY(-22deg) rotateZ(23deg);
}
.autre-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: 10s rotatingAnimationY linear infinite;
  animation: 10s rotatingAnimationY linear infinite;
}
.autre-container > div {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.autre-top, .autre-bottom, .autre-side-right {
  background-size: auto auto;
  background-repeat: repeat;
  background-position: top left;
}
.autre-front {
  background-image: url('images/autre/book-cover.jpg');
  width: 330px;
  height: 400px;
  -webkit-transform: translate3d(-165px ,-200px ,5px) translate3d(0,0,0) rotateY(0deg);
  transform: translate3d(-165px ,-200px ,5px) translate3d(0,0,0) rotateY(0deg);
}
.autre-side-left {
  background-image: url('images/autre/book-spine.jpg');
  width: 10px;
  height: 400px;
  -webkit-transform: translate3d(-165px ,-200px ,5px) translate3d(-5px, 0, -5px) rotateY(-90deg);
  transform: translate3d(-165px ,-200px ,5px) translate3d(-5px, 0, -5px) rotateY(-90deg);
}
.autre-side-right {
  background-image: url('images/autre/book-side.jpg');
  width: 10px;
  height: 400px;
  -webkit-transform: translate3d(-165px ,-200px ,5px) translate3d(325px, 0px,-5px) rotateY(90deg);
  transform: translate3d(-165px ,-200px ,5px) translate3d(325px, 0px,-5px) rotateY(90deg);
}
.autre-top {
  background-image: url('images/autre/book-top.jpg');
  background-position: bottom right;
  width: 330px;
  height: 10px;
  -webkit-transform: translate3d(-165px, -200px ,5px) translate3d(0px, -5px, -5px) rotateX(90deg);
  transform: translate3d(-165px, -200px ,5px) translate3d(0px, -5px, -5px) rotateX(90deg);
}
.autre-bottom {
  background-image: url('images/autre/book-top.jpg');
  width: 330px;
  height: 10px;
  -webkit-transform: translate3d(-165px ,-200px ,5px) translate3d(0px, 395px, -5px) rotateX(-90deg);
  transform: translate3d(-165px ,-200px ,5px) translate3d(0px, 395px, -5px) rotateX(-90deg);
}
.autre-back {
  background-image: url('images/autre/book-back.jpg');
  width: 330px;
  height: 400px;
  -webkit-transform: translate3d(-165px ,-200px ,5px) translate3d(0,0, -10px) rotateY(180deg);
  transform: translate3d(-165px ,-200px ,5px) translate3d(0,0, -10px) rotateY(180deg);
}
      