
/* Created with http://boockup.marco.land */
@-webkit-keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@-webkit-keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
html, body {
  margin: 0;
  padding: 0;
}
.borshchcontainer {
    top:0;
    left:0;
    position:fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.borshchcontainer > div {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.boockup {
  -webkit-transform: rotateX(16deg) rotateY(-38deg) rotateZ(0deg);
  transform: rotateX(16deg) rotateY(-38deg) rotateZ(0deg);
}
.borshch-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: 12s rotatingAnimationY linear infinite;
  animation: 12s rotatingAnimationY linear infinite;
}
.borshch-container > div {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.borshch-top, .borshch-bottom, .borshch-side-right {
  background-size: auto auto;
  background-repeat: repeat;
  background-position: top left;
}
.borshch-front {
  background-image: url('images/borshch/book-cover.jpg');
  width: 400px;
  height: 540px;
  -webkit-transform: translate3d(-200px ,-270px ,3px) translate3d(0,0,0) rotateY(0deg);
  transform: translate3d(-200px ,-270px ,3px) translate3d(0,0,0) rotateY(0deg);
}
.borshch-side-left {
  background-image: url('images/borshch/book-spine.jpg');
  width: 6px;
  height: 540px;
  -webkit-transform: translate3d(-200px ,-270px ,3px) translate3d(-3px, 0, -3px) rotateY(-90deg);
  transform: translate3d(-200px ,-270px ,3px) translate3d(-3px, 0, -3px) rotateY(-90deg);
}
.borshch-side-right {
  background-image: url('images/borshch/book-side.jpg');
  width: 6px;
  height: 540px;
  -webkit-transform: translate3d(-200px ,-270px ,3px) translate3d(397px, 0px,-3px) rotateY(90deg);
  transform: translate3d(-200px ,-270px ,3px) translate3d(397px, 0px,-3px) rotateY(90deg);
}
.borshch-top {
  background-image: url('images/borshch/book-top.jpg');
  background-position: bottom right;
  width: 400px;
  height: 6px;
  -webkit-transform: translate3d(-200px, -270px ,3px) translate3d(0px, -3px, -3px) rotateX(90deg);
  transform: translate3d(-200px, -270px ,3px) translate3d(0px, -3px, -3px) rotateX(90deg);
}
.borshch-bottom {
  background-image: url('images/borshch/book-top.jpg');
  width: 400px;
  height: 6px;
  -webkit-transform: translate3d(-200px ,-270px ,3px) translate3d(0px, 537px, -3px) rotateX(-90deg);
  transform: translate3d(-200px ,-270px ,3px) translate3d(0px, 537px, -3px) rotateX(-90deg);
}
.borshch-back {
  background-image: url('images/borshch/book-back.jpg');
  width: 400px;
  height: 540px;
  -webkit-transform: translate3d(-200px ,-270px ,3px) translate3d(0,0, -6px) rotateY(180deg);
  transform: translate3d(-200px ,-270px ,3px) translate3d(0,0, -6px) rotateY(180deg);
}    