
/* Created with http://boockup.marco.land */
@-webkit-keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@-webkit-keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
html, body {
  margin: 0;
  padding: 0;
}
.surfacecontainer {
top:0;
left:0;
position:fixed;
    
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.surfacecontainer > div {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.boockup {
  -webkit-transform: rotateX(4deg) rotateY(-20deg) rotateZ(-9deg);
  transform: rotateX(4deg) rotateY(-20deg) rotateZ(-9deg);
}
.surface-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: 11s rotatingAnimationY linear infinite;
  animation: 11s rotatingAnimationY linear infinite;
}
.surface-container > div {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.surface-top, .surface-bottom, .surface-side-right {
  background-size: auto auto;
  background-repeat: repeat;
  background-position: top left;
}
.surface-front {
  background-image: url('images/surface/book-cover.jpg');
  width: 348px;
  height: 468px;
  -webkit-transform: translate3d(-174px ,-234px ,6px) translate3d(0,0,0) rotateY(0deg);
  transform: translate3d(-174px ,-234px ,6px) translate3d(0,0,0) rotateY(0deg);
}
.surface-side-left {
  background-image: url('images/surface/book-spine.jpg');
  width: 12px;
  height: 468px;
  -webkit-transform: translate3d(-174px ,-234px ,6px) translate3d(-6px, 0, -6px) rotateY(-90deg);
  transform: translate3d(-174px ,-234px ,6px) translate3d(-6px, 0, -6px) rotateY(-90deg);
}
.surface-side-right {
  background-image: url('images/surface/book-side.jpg');
  width: 12px;
  height: 468px;
  -webkit-transform: translate3d(-174px ,-234px ,6px) translate3d(342px, 0px,-6px) rotateY(90deg);
  transform: translate3d(-174px ,-234px ,6px) translate3d(342px, 0px,-6px) rotateY(90deg);
}
.surface-top {
  background-image: url('images/surface/book-top.jpg');
  background-position: bottom right;
  width: 348px;
  height: 12px;
  -webkit-transform: translate3d(-174px, -234px ,6px) translate3d(0px, -6px, -6px) rotateX(90deg);
  transform: translate3d(-174px, -234px ,6px) translate3d(0px, -6px, -6px) rotateX(90deg);
}
.surface-bottom {
  background-image: url('images/surface/book-top.jpg');
  width: 348px;
  height: 12px;
  -webkit-transform: translate3d(-174px ,-234px ,6px) translate3d(0px, 462px, -6px) rotateX(-90deg);
  transform: translate3d(-174px ,-234px ,6px) translate3d(0px, 462px, -6px) rotateX(-90deg);
}
.surface-back {
  background-image: url('images/surface/book-back.jpg');
  width: 348px;
  height: 468px;
  -webkit-transform: translate3d(-174px ,-234px ,6px) translate3d(0,0, -12px) rotateY(180deg);
  transform: translate3d(-174px ,-234px ,6px) translate3d(0,0, -12px) rotateY(180deg);
}
    