
/* Created with http://boockup.marco.land */
@-webkit-keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes rotatingAnimationX {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@-webkit-keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotatingAnimationY {
  0%{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotatingAnimationZ {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

html, body{
    margin:0;
    padding:0;
}
.waxcontainer {
  position:fixed;
  top:0;
  left:0;
    
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.waxcontainer > div {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.boockup {
  -webkit-transform: rotateX(-20deg) rotateY(66deg) rotateZ(6deg);
  transform: rotateX(-20deg) rotateY(66deg) rotateZ(6deg);
}
.wax-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: 12s rotatingAnimationY linear infinite;
  animation: 12s rotatingAnimationY linear infinite;
}
.wax-container > div {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.wax-top, .wax-bottom, .wax-side-right {
  background-size: auto auto;
  background-repeat: repeat;
  background-position: top left;
}
.wax-front {
  background-image: url('images/wax/book-cover.jpg');
  width: 390px;
  height: 540px;
  -webkit-transform: translate3d(-195px ,-270px ,7px) translate3d(0,0,0) rotateY(0deg);
  transform: translate3d(-195px ,-270px ,7px) translate3d(0,0,0) rotateY(0deg);
}
.wax-side-left {
  background-image: url('images/wax/book-spine.jpg');
  width: 14px;
  height: 540px;
  -webkit-transform: translate3d(-195px ,-270px ,7px) translate3d(-7px, 0, -7px) rotateY(-90deg);
  transform: translate3d(-195px ,-270px ,7px) translate3d(-7px, 0, -7px) rotateY(-90deg);
}
.wax-side-right {
  background-image: url('images/wax/book-side.jpg');
  width: 14px;
  height: 540px;
  -webkit-transform: translate3d(-195px ,-270px ,7px) translate3d(383px, 0px,-7px) rotateY(90deg);
  transform: translate3d(-195px ,-270px ,7px) translate3d(383px, 0px,-7px) rotateY(90deg);
}
.wax-top {
  background-image: url('images/wax/book-top.jpg');
  background-position: bottom right;
  width: 390px;
  height: 14px;
  -webkit-transform: translate3d(-195px, -270px ,7px) translate3d(0px, -7px, -7px) rotateX(90deg);
  transform: translate3d(-195px, -270px ,7px) translate3d(0px, -7px, -7px) rotateX(90deg);
}
.wax-bottom {
  background-image: url('images/wax/book-top.jpg');
  width: 390px;
  height: 14px;
  -webkit-transform: translate3d(-195px ,-270px ,7px) translate3d(0px, 533px, -7px) rotateX(-90deg);
  transform: translate3d(-195px ,-270px ,7px) translate3d(0px, 533px, -7px) rotateX(-90deg);
}
.wax-back {
  background-image: url('images/wax/book-back.jpg');
  width: 390px;
  height: 540px;
  -webkit-transform: translate3d(-195px ,-270px ,7px) translate3d(0,0, -14px) rotateY(180deg);
  transform: translate3d(-195px ,-270px ,7px) translate3d(0,0, -14px) rotateY(180deg);
}